.container {
  margin: 0 15%;
}

.container h1 {
  text-align: center;
}

.actorsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.filters div {
  display: flex;
  gap: 0.2rem;
}